<div class="signup">
    <div class="signup-data">
        <div class="text">
            SIGN UP
        </div>
        <form action="/user-signup" method="post">
            <div class="data">
                <label>First Name</label>
                <input type="text" name="firstName">
            </div>
            <div class="data">
                <label>Last Name</label>
                <input type="text" name="lastName">
            </div>
            <div class="data">
                <label>User Name</label>
                <input type="text" name="userName"><br><br>
            </div>
            <div class="data">
                <label>Password</label>
                <input type="text" name="password">
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">SignUP</button>
            </div>
            <div class="login-link">
                Already have an account? <a href="/">Login now</a>
            </div>
        </form>
    </div>
</div>